extends layout

block content
  h1= title
  p Welcome to #{title}

  form(method='post' action='/')
    p Account value:
    input(type='text' name='AccountValue')
    input(type='submit' value='Reconcile Account')

  h1 Accounts
  form(method='get' action='accounts')
    input(type='submit' value='Add Account')

  h1 Goals
  form(method='get' action='goals')
    input(type='submit' value='Add Goal')

  h2 In Progress

  h2 Complete
